/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
    font-family: 'badboy';
    src: url('badBoys.ttf');
}


body {
	background:#e2d2fc; /*#e62968;*/
    color:#eafcd2;
	
}


#container {
	background:#609153;
    width:90%;
    max-width:800px;
    margin:auto;
    padding:20px;
}

nav ul {
    list-style:none;
    padding-left:10px;
    font-family:'badboy';


}

nav li {
    display:inline;    
}




nav a {
    color:#5d6570;
    margin:5px;
   /* font-family:*/
    text-decoration:none;
    font-size:1.5em;
    display:inline-block;
    background:#f9fad9;
    padding:8px;
    border-radius:30px;
}


nav a:hover {
    color:hotpink;
    background:#8bf56e;
}

p a {
    color:#609153;
}

p a:hover {
    color:hotpink;
}
/* 
h1,h2 {
   font-family: 
}
*/
figure {
    margin:0px;
    background:#705391;
    padding:10px; 
}

img {
    width:100%;
}

#container {
    
}

footer,figcaption {
    /*font-size:10px;*/
    font-size:0.95em;
    color:#e096da;

    
}