/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
    color:#a88932;
    background:#000;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
  font-family:'Mine';
  src: url('CloisterBlack.ttf');
}

@font-face {
    font-family:'kitty';
    src: url('Cat3D.ttf');
}

@font-face {
    font-family:'classy';
    src: url('Sunflare.ttf');
}

body {
	font-family:'Mine';
    padding: 30px;
	
}


#container {
	padding:50px;
    font-size:50px;

}
h1 {
    text-shadow: 6px 5px #f5da90;
    position:inherit;
}

h3 {
    font-family: monospace;
    font-size:30px;
    background: -webkit-linear-gradient(#c9c5b7, #f2bb1f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*cats walking */
#catsWalking {
    padding:none;
    line-height:115px;
    font-family:'kitty';
    color:#876400;
    top:0px;
    margin:0px;
    position:sticky;
    font-size:110px;
}

/*meowx8*/
#one {
    font-family: 'classy';
    color:#2b2513;
    line-height:1.3em;
    margin:auto;
    white-space:nowrap;
    word-spacing:10px;
    position:relative;
    rotate:180deg;
}
/*purr */
#two {
    color:#f0cc67;
    letter-spacing:10px;
    left:600px;
    bottom:200px;
    position:fixed;
    rotate:5deg;
}
/*meowww */
#three {
    text-align:center;
    font-size:150px;
    color:#c99b18;
    rotate:-25deg;
}

/*scratch */
#four {
    color:#fff4d4;
    top:500px;
    left:500px;
    position:;
    rotate:5deg;
}
/*rawr */
#five {
    color:#ffcb38;
    font-size:400px;
    top:500px;
    text-align:center;
    position:sticky;
    text-shadow: 10px 20px #666155;
}

footer {
    font-size:20px;
    font-family: 'classy';
    text-align: center;
    color: #d4d4d4;
    top:500px;
    position:static;
}
